.Feed{
    display: flex;
    flex-direction: row;
    margin: 0;
    /* background-color: rgba(18, 21, 39, 1); */
    background-color: black;

}
.FeedNav{
    width: 18%;
}

.FeedWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 40%;
    
}

.Leaderboard{
    padding-top: 5rem;
    margin-right: 2rem;
    padding-left: 3rem;
}