.SideNav{
    min-height: 100%;
    min-width: 200px;
    background-color: black;
    position: relative;
    margin-left: 5px;
}
.MenuOptions{
    color: white;
    margin-top: 2rem;
}
.MenuBar{
    color: white;
}
.MenuOptionsItem{
    display: flex;
    align-items: center;
    font-family: 'Acari Sans', sans-serif;
    border: 2px solid red;
}
