.SideNav{
    height: 100%;
    width: 300px;
    background-color: lightblue;
    position: fixed;
    flex-direction: column;

}
.Nav{
    padding: 20px;
    margin-left: 1rem;
    margin-top: 3rem;
}
.NavBarList{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;                                   
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 2rem;
}
.ListItem{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
}

.ListItemIcon{
  
    margin-right: 6px;
}
.Footer{
    padding-top: 90%;
}

.Logout{
    height: 2.5rem;
    width: 100%;
    border-radius: 100vmax;
    cursor: pointer;
    border: none;
}


