.workout-journal {
    padding: 20px;
    background-color: #2e2e2e; /* dark background */
    color: #b3b3b3; /* light grey text */
    border-radius: 35px;
}

.workout-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calories-burned, .workout-duration {
    text-align: center;
}

.exercise-list {
    margin-top: 10px;
    color: #87cefa; /* light blue for exercises */
}