.Post{
    width: 600px;
    height: 525px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 60px;
    margin-bottom: 120px;
    margin-right: 40px;
    margin-left: 40px;
    background-color: black;
    
}
.PostHeader{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.UserInfo{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 1rem;
    align-items: center;
}

.Username{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}
.PostBody{
    padding: 10px;
    gap: 1px;
    
}
.PostImage{
   padding-top: 10px;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   width: 100%;
}
.Image{
    width: 100%;
    border-radius: 6px;
}
.Caption{
    padding-left: 5px;
    margin: 0px;
    font-family: 'Acari Sans', sans-serif;
    border-top: black solid 2px;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}
.FooterIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.Likes{
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Acari Sans', sans-serif;
    padding: 0;
    
}
.LikeIcon {
    color: white; 
}